<div id="action-description">
  <p>This sample demonstrates the <b>Signature</b> component with toolbar items to illustrate the undo, redo, save with background, background color, stroke color, clear and disabled support of the <b>Signature</b> component.</p>
</div>

<div class="col-lg-12 control-section">
  <div id="signature-toolbar-control">
      <ejs-toolbar id="toolbar" (created)="onCreate($event)" (clicked)="clicked($event)" width="100%">
          <e-items>
              <e-item text='Undo' prefixIcon='e-icons e-undo' tooltipText='Undo (Ctrl + Z)'></e-item>
              <e-item text='Redo' prefixIcon='e-icons e-redo' tooltipText='Redo (Ctrl + Y)'></e-item>
              <e-item type='Separator'></e-item>
              <e-item tooltipText= 'Save (Ctrl + S)' type='Button' template= '<button id="save-option"></button>'>
              </e-item>
              <e-item type='Separator'></e-item>
              <e-item tooltipText= 'Stroke Color' template= '<input id="stroke-color" type="color"/>'>
              </e-item>
              <e-item type='Separator'></e-item>
              <e-item tooltipText= 'Background Color' type= 'Input' template= '<input id="bg-color" type="color"/>'></e-item>
              <e-item type='Separator'></e-item>
              <e-item tooltipText= 'Stroke Width' type= 'Input' template= '<input id="stroke-width" type="text"/>'></e-item>
              <e-item type='Separator'></e-item>
              <e-item text= 'Clear' prefixIcon= 'e-sign-icons e-clear' tooltipText= 'Clear'></e-item>
              <e-item tooltipText= 'Disabled' type='Input' template='<input id="chkelement1" type="checkbox"/>' align='Right'></e-item>
          </e-items>
      </ejs-toolbar>
      <div id="signature-control">
          <canvas ejs-signature #signature id="signature" [maxStrokeWidth]="strokeWidth" style="height: 100%; width: 100%;" (change)="change()"></canvas>
      </div>
  </div>
</div>